// .header__appbar {
//     background-color: transparent;
// }
// .hola {
//     background-color: turquoise;
// }


// .header__imagenperfil {
//     background-image: url('../assets/perfil.png');
//     background-position: center;
//     background-size: contain;
//     background-attachment: fixed;
// }

.header__logo {
    width: 29.29px;
    height: 34.55px;
    img {
        width: 100%;
        height: 100%;
    }
    
}