// .header__appbar {
//     background-color: transparent;
// }
// .hola {
//     background-color: turquoise;
// }


/* .header__imagenperfil {
      background-position: center;
      background-size: contain;
      background-attachment: fixed;
}*/

.navButton {
    color: #FFFFFF;
}