.cardProfile{
    margin: 15% 30px 0 30px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    border-radius: 40px;
    background: #FFFFFF;
}
.card{
    overflow:visible !important;
}

.infoPerfil{
    text-align: center;
}

.fotoPerfil{
    justify-content: center;
    position: absolute;
    top: -75px;
    left: 43%;
}

