.Card {
    position: absolute;
    width: 505px;
    height: 525px;
    left: 468px;
    top: 141px;
    background: #ffffff;
    border-radius: 20px !important;
}
.Card_logo {
    text-align:center
}
